In [5]:
import pandas as pd

df = pd.read_csv('NYCinspections.csv')
pd.set_option('display.max_columns', 27)
df.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA', 'Location Point'],
      dtype='object')

In [6]:
filtered_df = df[['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'CUISINE DESCRIPTION', 
                  'INSPECTION DATE', 'ACTION', 'VIOLATION CODE', 'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 
                  'SCORE', 'GRADE', 'INSPECTION TYPE', 'Latitude', 'Longitude']]
filtered_df

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,INSPECTION TYPE,Latitude,Longitude
0,50117029,NaN,Brooklyn,385,AVENUE X,11223.0,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,40.590715,-73.968686
1,50118364,NaN,Staten Island,4215B,HYLAN BOULEVARD,10308.0,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,40.537366,-74.150396
2,50121135,NU-U JUICEBAR,Brooklyn,1030,UNION STREET,11225.0,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,40.669638,-73.957669
3,50128934,NaN,Brooklyn,366,UNION AVENUE,11211.0,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,40.711342,-73.951171
4,50120842,MOLYVOS,Manhattan,402,WEST 43 STREET,10036.0,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,40.759359,-73.992788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238403,40554463,EL GAUCHITO RESTAURANT,Queens,9460,CORONA AVENUE,11373.0,Latin American,02/10/2022,Violations were cited in the following area(s).,10I,"Single service item reused, improperly stored,...",Not Critical,7.0,A,Cycle Inspection / Initial Inspection,40.742286,-73.869478
238404,40871961,TOTA'S,Brooklyn,244,UTICA AVENUE,11213.0,Caribbean,03/04/2020,Violations were cited in the following area(s).,20F,Current letter grade sign not posted.,Not Critical,NaN,NaN,Administrative Miscellaneous / Initial Inspection,40.670270,-73.930992
238405,50071226,LA PARISIENNE,Manhattan,9,MAIDEN LANE,10038.0,French,04/09/2019,Violations were cited in the following area(s).,22F,MISBRANDED AND LABELING,Not Critical,9.0,A,Cycle Inspection / Initial Inspection,40.709599,-74.009555
238406,40566335,CARRY ON TEA & SYMPATHY,Manhattan,110,GREENWICH AVENUE,10011.0,English,12/10/2018,Violations were cited in the following area(s).,06D,"Food contact surface not properly washed, rins...",Critical,28.0,NaN,Cycle Inspection / Initial Inspection,40.738411,-74.002190
238407,41604545,HANG SHING KITCHEN,Queens,10409,METROPOLITAN AVENUE,11375.0,Chinese,02/28/2019,Violations were cited in the following area(s).,08A,Facility not vermin proof. Harborage or condit...,Not Critical,9.0,A,Cycle Inspection / Initial Inspection,40.710095,-73.848560

In [7]:
date_df = filtered_df[['CAMIS', 'INSPECTION DATE']].copy()

date_df['INSPECTION DATE'] = pd.to_datetime(date_df['INSPECTION DATE']).dt.year

date_df.groupby('INSPECTION DATE').count()

                 CAMIS
INSPECTION DATE
1900              4147
2011                 1
2012                 2
2013                 8
2014                 5
2015                43
2016              1677
2017              7291
2018             14317
2019             78000
2020             24196
2021             25370
2022             83351

In [8]:
date_filtered_df = filtered_df

date_filtered_df['INSPECTION DATE'] = pd.to_datetime(filtered_df['INSPECTION DATE'])

newdf = date_filtered_df[date_filtered_df['INSPECTION DATE'] > '1/1/2010']

newdf

#Checking to make sure the 1900s are filtered out

date_dfl = newdf[['CAMIS', 'INSPECTION DATE']]

#date_dfl['INSPECTION DATE'] = date_dfl['INSPECTION DATE'].dt.month
date_dfl['INSPECTION DATE'] = date_dfl['INSPECTION DATE'].dt.year

date_dfl.groupby('INSPECTION DATE').count()

C:\Users\Kayden\AppData\Local\Temp\ipykernel_10708\4186282266.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_filtered_df['INSPECTION DATE'] = pd.to_datetime(filtered_df['INSPECTION DATE'])
C:\Users\Kayden\AppData\Local\Temp\ipykernel_10708\4186282266.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_dfl['INSPECTION DATE'] = date_dfl['INSPECTION DATE'].dt.year

                 CAMIS
INSPECTION DATE
2011                 1
2012                 2
2013                 8
2014                 5
2015                43
2016              1677
2017              7291
2018             14317
2019             78000
2020             24196
2021             25370
2022             83351

In [9]:
newdf.groupby(['INSPECTION TYPE'])[['SCORE', 'GRADE']].count()

                                                     SCORE  GRADE
INSPECTION TYPE
Administrative Miscellaneous / Compliance Inspe...       0      0
Administrative Miscellaneous / Initial Inspection        0     15
Administrative Miscellaneous / Re-inspection             0      0
Administrative Miscellaneous / Reopening Inspec...       0      0
Administrative Miscellaneous / Second Complianc...       0      0
Calorie Posting / Initial Inspection                     0      1
Calorie Posting / Re-inspection                          0      0
Cycle Inspection / Compliance Inspection               478      0
Cycle Inspection / Initial Inspection               140905  52845
Cycle Inspection / Re-inspection                     43702  42258
Cycle Inspection / Reopening Inspection               1961   1827
Cycle Inspection / Second Compliance Inspection          4      0
Inter-Agency Task Force / Initial Inspection           694     53
Inter-Agency Task Force / Re-inspection                  1      0
Pre-permit (Non-operational) / Compliance Inspe...      24      1
Pre-permit (Non-operational) / Initial Inspection     2285    941
Pre-permit (Non-operational) / Re-inspection           169     46
Pre-permit (Non-operational) / Second Complianc...       2      2
Pre-permit (Operational) / Compliance Inspection      1350      0
Pre-permit (Operational) / Initial Inspection        25484  10732
Pre-permit (Operational) / Re-inspection              8781   8350
Pre-permit (Operational) / Reopening Inspection        815    446
Pre-permit (Operational) / Second Compliance In...     182      0
Smoke-Free Air Act / Compliance Inspection               0      0
Smoke-Free Air Act / Initial Inspection                  0      1
Smoke-Free Air Act / Limited Inspection                  0      0
Smoke-Free Air Act / Re-inspection                       0      0
Trans Fat / Compliance Inspection                        0      0
Trans Fat / Initial Inspection                           0      1
Trans Fat / Re-inspection                                0      0

In [10]:
cycle_inspection_df = newdf[newdf['INSPECTION TYPE'].isin(['Cycle Inspection / Initial Inspection', 'Cycle Inspection / Re-inspection'])]

cycle_inspection_df.to_excel('ijexcel.xlsx')

In [12]:
violation_df = cycle_inspection_df[['VIOLATION CODE', 'VIOLATION DESCRIPTION']].drop_duplicates(subset='VIOLATION CODE')

violation_df.sort_values('VIOLATION CODE').to_excel('ViolationCSV.xlsx')